.background {
  background-image: url(../Assets/bg1.jpg);
  background-size: cover;
  height: 648px;
  display: flex;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0 20% 0 20%;
  font-size: 22px;
}
