
.intro-card{
  color: var(--theme-text);
}

.theme-text {
  color: var(--theme-text);
}

.background {
  background-image: url(../Assets/bg1.jpg);
  background-size: cover;
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0 20% 0 20%;
  font-size: 22px;
}
